
<div class="header">
    <div>
    <a class="nav"routerLink="/home">Impetus Insurance</a>
    </div>
    <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px" >
      Invest Today and Enjoy Tomorrow!
      </marquee>
    <div class="header-right">
      <a class="nav-link"routerLink="/home">Home</a>
      <a class="nav-link"routerLink="/service">Our Services</a>
      <a class="nav-link"routerLink="/contact">Contact Us</a>
      <a class="nav-link"routerLink="/about">About Us</a>
      <a class="nav-link"routerLink="/login">Logout</a>
    </div>
  </div>


  <div style="background-image: url('https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80');">
    
    <div class="container">
        <div id="heading" class="container-fluid" style="background-image: url('https://media.istockphoto.com/videos/cute-tooth-dental-cartoon-hd-animation-video-id975678004?s=640x640');">
             <h1 style="color: black;">Apply for Dental Insurance</h1>
             <p style="color: black; font-weight: bold;">Search our extensive network of nationwide dentists to find one that's right for you.<br>
                Members: Not sure of your plan? Log in to find a dentist in your network.</p>
        </div>
        <form [formGroup]="Dental">
            <div class="row g-3">
                <div class="col">
                    <label>First Name</label>
                    <input formControlName = "firstname" class="form-control" aria-label="First name" placeholder="Enter your first name" required/>
                <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                    <span class="error" *ngIf="firstname.errors?.required"> First Name is required</span>
                    <span class="error" *ngIf="firstname.errors?.pattern"> Enter Only Characters</span>
                </div>
                </div>
                <div class="col">
                    <label>Middle Name</label>
                    <input formControlName="middlename" class="form-control"  aria-label="Last name" placeholder="Enter middle last name" required>
                    <div *ngIf="middlename.invalid && (middlename.touched || middlename.dirty)">
                        <span class="error" *ngIf="middlename.errors?.pattern"> *Enter Only Characters</span>
                    </div>
                </div>
                <div class="col">
                    <label>Last Name</label>
                    <input formControlName="lastname" class="form-control"  aria-label="Last name" placeholder="Enter your last name" required>
                    <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <span class="error" *ngIf="lastname.errors?.required"> *Last Name is required</span>
                        <span class="error" *ngIf="lastname.errors?.pattern"> *Enter Only Characters</span>
                    </div>
                </div>
            </div> 
            <div class="row g-3">
                <div class="col">
                    <label>Aadhar Number</label>
                    <input formControlName="aadhar" class="form-control" aria-label="adhar" placeholder="Enter 12 digit Aadhar number" required/>
                    <div *ngIf="aadhar.invalid && (aadhar.touched || aadhar.dirty)">
                        <span class="error" *ngIf="aadhar.errors?.required"> *Aadhar is required</span>
                        <span class="error" *ngIf="aadhar.errors?.pattern">  *Only numbers are allowed</span>
                        <span class="error" *ngIf="aadhar.errors?.minlength"> *Invalid Aadhar</span>
                        <span class="error" *ngIf="aadhar.errors?.maxlength">*Invalid Aadhar</span>
                        
                    </div>
                </div>
                <div class="col">
                    <label>Email</label>
                    <input formControlName="email" class="form-control"  aria-label="email" placeholder="Enter your email" required>
                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                    <span class="error" *ngIf="email.errors?.pattern">*Invalid Email Id</span>
                    </div> 
                </div>
                <div class="col">
                    <label>PAN Number</label>
                    <input formControlName="pannumber" class="form-control"  aria-label="pan" placeholder="Enter your PAN number" required>
                    <div *ngIf="pannumber.invalid && (pannumber.touched || pannumber.dirty)">
                        <span class="error" *ngIf="pannumber.errors?.required"> *Pan is required</span>
                        <span class="error" *ngIf="pannumber.errors?.pattern"> *Invalid Pan</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>Address</label>
                        <input formControlName="address" class="form-control" aria-label="address" placeholder="Enter full address" required/>
                        <div *ngIf="address.invalid && (address.touched || address.dirty)">
                            <span class="error" *ngIf="address.errors?.required"> *Address is required</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Zip code</label>
                        <input formControlName="zipcode" class="form-control" aria-label="zip" placeholder="Enter zip code" required/>
                        <div *ngIf="zipcode.invalid && (zipcode.touched || zipcode.dirty)">
                        <span class="error" *ngIf="zipcode.errors?.required"> *Zip Code is required</span>
                        <span class="error" *ngIf="zipcode.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="zipcode.errors?.minlength">*Invalid Zip code</span>
                        <span class="error" *ngIf="zipcode.errors?.maxlength">*Invalid Zip code</span>
                    </div>
                    </div>
                    <div class="col">
                        <label>City</label>
                        <input formControlName="city" class="form-control" aria-label="city" placeholder="Enter city" required/>
                        <div *ngIf="city.invalid && (city.touched || city.dirty)">
                        <span class="error" *ngIf="city.errors?.required"> *city is required</span>
                        <span class="error" *ngIf="city.errors?.pattern"> *Only Characters allowed</span>
                        </div>
                    </div>
                </div>    
            </div> 
            
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>State</label>
                        <select name="state" id="state" class="form-control">
                            <option value="">Select state</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Contact</label>
                        <input formControlName="contact" class="form-control" aria-label="contact" placeholder="9100000000" required/>
                        <div *ngIf="contact.invalid && (contact.touched || contact.dirty)">
                            <span class="error" *ngIf="contact.errors?.required"> *Mobile is required</span>
                            <span class="error" *ngIf="contact.errors?.pattern"> *Only Numbers are allowed</span>
                            <span class="error" *ngIf="contact.errors?.minlength">*Invalid Mobile</span>
                            <span class="error" *ngIf="contact.errors?.maxlength">*Invalid Mobile</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Birth date</label>
                        <input type="date" class="form-control" aria-label="birth" placeholder="DD/MM/YYYY" required/>
                    </div>

               </div>
            </div>
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>Occupation</label>
                        <input formControlName="occupation" class="form-control" aria-label="zip" placeholder="Enter your Occupation" required/>
                        <div *ngIf="occupation.invalid && (occupation.touched || occupation.dirty)">
                            <span class="error" *ngIf="occupation.errors?.required"> *Occupation is required</span>
                            <span class="error" *ngIf="occupation.errors?.pattern"> *Only Characters are allowed</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Annual Income in Lacs</label>
                    <input formControlName="income" class="form-control"  placeholder="In Lacs" required/>
                    <div *ngIf="income.invalid && (income.touched || income.dirty)">
                        <span class="error" *ngIf="income.errors?.required"> *Income is required</span>
                        <span class="error" *ngIf="income.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="income.errors?.minlength">*Invalid income</span>
                        <span class="error" *ngIf="income.errors?.maxlength">*Invalid income</span>
                    </div>
                    </div>
                </div>    
            </div>
            <div class="row g-3">
                <div class="col">
                    <label>Select a plan?</label>
                    <select class="form-control" id="input_9" name="q9_whichLife"  data-component="dropdown">
                    <option value=""> Please Select </option><option value="5 Year Term"> 5 Year Term </option>
                    <option value="10 Year Term "> 10 Year Term </option><option value="Universal Life"> Universal Life </option>
                    <option value="Whole Life"> Whole Life </option>
                    <option value="I am unsure and need advice"> I am unsure and need advice </option>
                    </select>    
                </div>
                <div class="col">
                    <label>Gender</label>
                    <select class="form-control" id="genderlist" name="genderlist"  data-component="dropdown">
                        <option value=""> Please Select </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender">Transgender</option>
                       </select>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Do you have any other health Issue please Describe:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Not More than 20 words"></textarea>
                </div>
            </div>
            <div class="row g-3">
            <div class="col">
                <p>Are you planning on cancelling any existing life insurance?</p>
                  <input type="radio" name="radio1" value="YES" >
                  <label for="html">YES</label>
                  <input type="radio"  name="radio1" value="NO" checked>
                  <label for="css">NO</label>
            </div>
            </div>
            <div class="row g-3">
                <div class="col">
                <p>Do you have group life insurance through work?</p>
                  <input type="radio" id="yes1" name="radio2" value="YES">
                  <label for="html">YES</label>
                  <input type="radio" id="no1" name="radio2" value="NO" checked>
                  <label for="css">NO</label>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                <p>Do you consume Tobacco Or Alcohol Or do Smoking? </p>
                  <input type="radio"  name="radio3" value="YES">
                  <label for="html">YES</label>
                  <input type="radio"  name="radio3" value="NO" checked>
                  <label for="css">NO</label>
                </div>
            </div>
            
            
            <div class="row g-3">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Please add any additional comments or questions:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Not more than 20 Words"></textarea>
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">Submit</button>
        
              
        </form>


    </div>
</div>



<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Life Insurance</a></li>
                        <li><a href="#">Dental & Vision Insurance</a></li>
                        <li><a href="#">Dental Insurance</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Know Us</h3>
                    <ul>
                        <li><a class="nav"routerLink="/about">About Us</a></li>
                        <li><a class="nav"routerLink="/signup">Create Account</a></li>
                        <li><a class="nav"routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Impetus Insurance</h3>
                    <p>
                        Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                        Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                    </p>
                </div>
            </div>
            <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
        </div>
    </footer>
  </div>
  