

  
  <body>

    <h2 style="text-align: center; margin-top: 50px; color: blue;">Generate Underwriter</h2>
    
    <form #RegisterForm="ngForm" (ngSubmit)="createUw() " class="mx-1 mx-md-4" (ngSubmit) ="RegisterForm.reset()">
      <div class="imgcontainer">
      </div>
      <small class="text-danger">{{msg1}}</small>
      <div class="container">
        <label for="userid"><b>Generate UserId</b></label>
        <input type="text" placeholder="Generate UserId" name="userid" required [(ngModel)]="uwriter.writerId" />
         
    
        <label for="psw"><b>Create Password</b></label>
        <input type="password" placeholder="Create Password"  name="password" required [(ngModel)]="uwriter.password" />
            
        <button type="submit">Create UnderWriter</button>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button  type="button" class="cancelbtn" routerLink="/adhome">Back</button>
      </div>
      

      
      
      
        
    </form>
    
    </body>
   
  
  
  