<div class="header">
  <div>
  <a class="nav"routerLink="/home">Impetus Insurance</a>
  </div>
  <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px" >
    Invest Today and Enjoy Tomorrow!
    </marquee>
  <div class="header-right">
    <a class="nav-link"routerLink="/home">Home</a>
    <a class="nav-link"routerLink="/service">Our Services</a>
    <a class="nav-link"routerLink="/contact">Contact Us</a>
    <a class="nav-link"routerLink="/about">About Us</a>
    <div class="dropdown">
      <button class="dropbtn">Login As</button>
      <div class="dropdown-content">
        <a class="nav-link1"routerLink="/login">User</a>
        <a class="nav-link1"routerLink="/uwlogin">UWriter</a>
        <a class="nav-link1"routerLink="/adlogin">Admin</a>
      </div>
    </div>
  </div>
</div>





<div style="padding: 10px;">

  <h1 style="background-color: #12172b; text-align: center; height: 165px; color: white; font-weight: bold;">About Us
  
    <span>
     <h2> We are The Insurance Company Of your Need<br>
      
      
      
      
      To be the most admired insurance <br>
      company that enables the continued progress of customers<br>
      by being responsive to their needs.
      </h2>
      </span>
  </h1>
   
  <p style="background-color: rgb(154, 214, 216); padding: 10px; font-weight: 500; text-align:justify; margin: 20px;">
  <span style="font-weight: 1000;">
  WHO WE ARE</span>
  
  
  
  Impetus Insurance Company is a leading insurer. The Company received the certificate of registration from IRDA on 2nd May 2021 to conduct general insurance business in India. Impetus Insurance, is one of the newest and leading private insurer in the industry with offices in over 350 towns and cities. The Company has continuously been expanding its operations to reach out to its customers.
  
  
  
  We have gained the trust of close to 5 crore customers with the help of over 500 employees, a robust distribution network of more than 10,000 agents and over 110 bank partners. We are also associated with most brokers, web aggregators and major e-commerce platforms. We have formed meaningful relationships with our customers and employees in the course of our journey so far.
  
  
  
  The Company recently changed its brand identity to ‘Caringly Yours’ to reposition itself in the minds of Indian consumers as a brand that protects and cares about customer’s financial worries around their most prized possessions - their health, home & content, vehicles, businesses etc. With this, the Company not just aims to take its service to the next level, but also seeks to provide the best customer experience at every touchpoint and make insurance a pull rather than a push product.
  
  
  
  Impetus Insurance caters to individuals across demographics of the country and the corporate sector with its wide range of products and services that go beyond insurance. The Company is not only bringing insurance solutions to the customers’ doorstep but also improving insurance penetration, with its advanced digital applications. Today through its digital offices it has reached out to over 1000 new Tier 2 and 3 towns across India. The Company has a strong focus on customer centricity and aims at delivering superior value with an excellent and caring experience for the customer. Today the Company is taking its relationships with the customers beyond insurance, by offering them a plethora of digitised customer-centric initiatives.
  
  
  
  The Company registered strong financial results for the first quarter of FY 2021-22 by posting revenue of ₹ 1,114 crores for the period. Company posted a net profit ₹ 132 crore. Impetus Insurance also reported a healthy Combined Ratio of 103.4% and solvency ratio of 340% for the period.
  
  
  
  For more details on a summary of our financials, Please contact at our offices
  
  
  
  OUR ACHIEVEMENTS
  
  
  
  We owe our success to the faith you have shown in us. The organizations Operational Risk Management process is ISO 9001:2015 certified, which signifies our quality objective to proactively manage risks and to ultimately deliver & exceed customer expectations. To enhance the quality of your experience and to make it as seamless as possible, the Company has embraced digitalization as a primary enabler and has been working continuously on automation and digitization of its service offerings.
  
  
  
  Our amazing systems and processes offer real-time solutions to our customers. The introduction of various industry-first initiatives by the Company like unique farm ecosystem; artificial intelligence-driven chatbot, app-based instant claim settlement, image based claim settlements, through blockchain technology, cashless claim settlements. We are one of few companies in the country to introduce Cyber Insurance protection for individuals.
  
  
  
  The Company has been honoured as the upcoming Insurer in India 2020 by IDC Financial Insights Innovation Awards. The CX Asia Excellence Awards recognised the company for providing Best Customer Experience 2020 & Best Brand Experience 2020. In the past, the 3rd edition of India Insurance Summit & Awards has recognised the company as the General Insurance Company of the Year 2020 while IDC Financial Insights Asia Pacific listed the company amongst the Best Insurer in the Indian Market. The company also won Gold Award at the prestigious Outlook Money Awards 2020 for the Non-Life Insurer Category.
  
  
  
  Our employees are the driving force that translate our brand vision into reality. They create the reason why our customers continue to choose Impetus Insurance as their preferred insurance provider.
  
  
  
  </p>
  </div>
  
  
  
  
  
  
  
  
  
  <html lang="en">
  
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  
  <body>
  <div class="container">
  <h1 class="heading"><span></span>Our Team</h1>
  
  <div class="profiles">
  <div class="profile" style="margin-left: 100px;">
  <img src="https://wallpapercave.com/wp/hPLjH8C.jpg" class="profile-img">
  
  <h3 class="user-name">Ambikesh</h3>
  <h5>Project Manager</h5>
  <p>An insurance appraiser inspects items and property that is insured or considered for insurance and estimates its value.</p>
  </div>
  <div class="profile" style="margin-left: 25px;">
  <img src="https://wallpapercave.com/wp/hPLjH8C.jpg" class="profile-img">
  
  <h3 class="user-name">Shivam</h3>
  <h5>project Manager</h5>
  <p>Agents and brokers in the insurance industry advise clients on insurance matters and sell policies.
  </p>
  </div>
  <div class="profile" style="margin-left: 25px;">
  <img src="https://wallpapercave.com/wp/hPLjH8C.jpg" class="profile-img">
  
  <h3 class="user-name">Uttam</h3>
  <h5>Project Manager</h5>
  <p>Managing Partner in impetus insurance and managing directors of the agents</p>
  </div>
  
  
  
  <div class="profile" style="margin-left: 25px;">
  <img src="https://wallpapercave.com/wp/hPLjH8C.jpg" class="profile-img">
  
  <h3 class="user-name">Vaishali</h3>
  <h5>Project Manager</h5>
  <p>loss control specialist in the insurance industry may work for an insurance provider,
  a private company or a government agency.</p>
  </div>
  </div>
  </div>
  </body>
  
  </html>


<div class="footer-dark">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <a  routerLink="/service" style="text-decoration: none; color: white; scroll-behavior: auto;">Services</a>
              <ul>
                  <li>Life Insurance</li>
                  <li>Dental & Vision Insurance</li>
                  <li> Dental Insurance</li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Know Us</h3>
                <ul>
                    <li><a class="nav"routerLink="/about">About Us</a></li>
                    <li><a class="nav"routerLink="/signup">Create Account</a></li>
                    <li><a class="nav"routerLink="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>Impetus Insurance</h3>
                <p>
                    Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                    Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                </p>
            </div>
        </div>
        <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
    </div>
</footer>
</div>