<mat-nav-list>
    <a mat-list-item routerLink="/adminHome" routerLinkActive="active-link" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
     
    
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
    </a>

    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Create</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <a routerLink="/cretuw" mat-menu-item (click)="onSidenavClose()" style="color: black;">Under Writer</a>
      <a routerLink="/createAdmin" mat-menu-item (click)="onSidenavClose()" style="color: black;">Admin</a>
     
    </mat-menu>
  </mat-nav-list>