<div class="header">
    <div>
    <a class="nav"routerLink="/home">Impetus Insurance</a>
    </div>
    <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px" >
      Invest Today and Enjoy Tomorrow!
      </marquee>
    <div class="header-right">
      <a class="nav-link"routerLink="/home">Home</a>
      <a class="nav-link"routerLink="/service">Our Services</a>
      <a class="nav-link"routerLink="/contact">Contact Us</a>
      <a class="nav-link"routerLink="/about">About Us</a>
      <a class="nav-link"routerLink="/login">Logout</a>
    </div>
  </div>


  <div style="background-image: url('https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80');">
    
    <div class="container">
        <div id="heading" class="container-fluid" style="background-image: url('https://www.cu.edu/sites/default/files/LifeInsuranceBanner1000px-01.png');">
             <h1 style="color: black;">Apply for Life Insurance</h1>
              
        </div>
        <form [formGroup]="LifeForm" #lifeForm ="ngForm" (ngSubmit)="applyLife()">
            <div class="row g-3">
                <div class="col">
                    <label>First Name<span style="color: red;">*</span></label>
                    <input formControlName = "firstname" class="form-control" aria-label="First name" placeholder="Enter Your First Name" required required [(ngModel)] = "user.firstName"/>
                <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                    <span class="error" *ngIf="firstname.errors?.required"> *First Name is required</span>
                    <span class="error" *ngIf="firstname.errors?.pattern"> *Enter Only Characters</span>
                </div>
                </div>
                <div class="col">
                    <label>Middle Name<span style="color: red;">*</span></label>
                    <input formControlName="middlename" class="form-control"  aria-label="Last name" placeholder="Enter Middle Name" required required [(ngModel)] = "user.middleNmme"/>
                    <div *ngIf="middlename.invalid && (middlename.touched || middlename.dirty)">
                        <span class="error" *ngIf="middlename.errors?.pattern"> *Enter Only Characters</span>
                    </div>
                </div>
                <div class="col">
                    <label>Last Name<span style="color: red;">*</span></label>
                    <input formControlName="lastname" class="form-control"  aria-label="Last name" placeholder="Enter Your Last Name" required required [(ngModel)] = "user.lastName"/>
                    <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <span class="error" *ngIf="lastname.errors?.required"> *Last Name is required</span>
                        <span class="error" *ngIf="lastname.errors?.pattern"> *Enter Only Characters</span>
                    </div>
                </div>
            </div> 
            <div class="row g-3">
                <div class="col">
                    <label>Aadhar Number<span style="color: red;">*</span></label>
                    <input formControlName="aadhar" class="form-control" aria-label="adhar" placeholder="Enter 12 digit Aadhar number" required required [(ngModel)] = "user.aadhar"/>
                    <div *ngIf="aadhar.invalid && (aadhar.touched || aadhar.dirty)">
                        <span class="error" *ngIf="aadhar.errors?.required"> *Aadhar is required</span>
                        <span class="error" *ngIf="aadhar.errors?.pattern">  *Only numbers are allowed</span>
                        <span class="error" *ngIf="aadhar.errors?.minlength"> *Invalid Aadhar</span>
                        <span class="error" *ngIf="aadhar.errors?.maxlength">*Invalid Aadhar</span>
                        
                    </div>
                </div>
                <div class="col">
                    <label>Email<span style="color: red;">*</span></label>
                    <input formControlName="email" class="form-control"  aria-label="email" placeholder="Enter your email" required required [(ngModel)] = "user.email" />
                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span class="error" *ngIf="email.errors?.required">*Email required</span>
                    <span class="error" *ngIf="email.errors?.pattern">*Invalid Email Id</span>
                    </div> 
                </div>
                <div class="col">
                    <label>PAN Number<span style="color: red;">*</span></label>
                    <input formControlName="pannumber" class="form-control"  aria-label="pan" placeholder="Enter your PAN number" required required [(ngModel)] = "user.pan"/>
                    <div *ngIf="pannumber.invalid && (pannumber.touched || pannumber.dirty)">
                        <span class="error" *ngIf="pannumber.errors?.required"> *Pan is required</span>
                        <span class="error" *ngIf="pannumber.errors?.pattern"> *Invalid Pan</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>Address<span style="color: red;">*</span></label>
                        <input formControlName="address" class="form-control" aria-label="address" placeholder="Enter full address" required required [(ngModel)] = "user.address"/>
                        <div *ngIf="address.invalid && (address.touched || address.dirty)">
                            <span class="error" *ngIf="address.errors?.required"> *Address is required</span>
                        </div>

                    </div>
                    <div class="col">
                        <label>Zip code<span style="color: red;">*</span></label>
                        <input formControlName="zipcode" class="form-control" aria-label="zip" placeholder="Enter zip code" required required [(ngModel)] = "user.zip"/>
                        <div *ngIf="zipcode.invalid && (zipcode.touched || zipcode.dirty)">
                        <span class="error" *ngIf="zipcode.errors?.required"> *Zip Code is required</span>
                        <span class="error" *ngIf="zipcode.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="zipcode.errors?.minlength">*Invalid Zip code</span>
                        <span class="error" *ngIf="zipcode.errors?.maxlength">*Invalid Zip code</span>
                    </div>
                    </div>
                    <div class="col">
                        <label>City<span style="color: red;">*</span></label>
                        <input formControlName="city" class="form-control" aria-label="city" placeholder="Enter city" required required [(ngModel)] = "user.city"/>
                        <div *ngIf="city.invalid && (city.touched || city.dirty)">
                        <span class="error" *ngIf="city.errors?.required"> *city is required</span>
                        <span class="error" *ngIf="city.errors?.pattern"> *Only Characters allowed</span>
                        </div>
                    </div>
                </div>    
            </div> 
            
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>State<span style="color: red;">*</span></label>
                        <input formControlName="state" class="form-control" aria-label="city" placeholder="Enter your state" required required [(ngModel)] = "user.state"/>
                        <div *ngIf="state.invalid && (state.touched || state.dirty)">
                        <span class="error" *ngIf="state.errors?.required"> *state is required</span>
                        <span class="error" *ngIf="state.errors?.pattern"> *Only Characters allowed</span>
                        </div>
                            
                    </div>
                    <div class="col">
                        <label>Mobile No<span style="color: red;">*</span></label>
                        <input formControlName="contact" class="form-control" aria-label="contact" placeholder="Ex: 7898086645" required required [(ngModel)] = "user.contact"/>
                        <div *ngIf="contact.invalid && (contact.touched || contact.dirty)">
                            <span class="error" *ngIf="contact.errors?.required"> *Mobile is required</span>
                            <span class="error" *ngIf="contact.errors?.pattern"> *Only Numbers are allowed</span>
                            <span class="error" *ngIf="contact.errors?.minlength">*Invalid Mobile</span>
                            <span class="error" *ngIf="contact.errors?.maxlength">*Invalid Mobile</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Birth date<span style="color: red;">*</span></label>
                        <input formControlName="dateOfBirth" class="form-control" aria-label="contact" placeholder="DD/MM/YYYY" required required [(ngModel)] = "user. dateOfBirth"/>
                        <div *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || dateOfBirth.dirty)">
                            <span class="error" *ngIf="dateOfBirth.errors?.required"> *Date is required</span>
                            <span class="error" *ngIf="dateOfBirth.errors?.pattern"> *Should be in formate(DD/MM/YYYY)</span>
                             </div>
                         
                    </div>

               </div>
            </div>
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>Occupation<span style="color: red;">*</span></label>
                    <input formControlName="occupation" class="form-control" aria-label="zip" placeholder="Enter your Occupation" required required [(ngModel)] = "user. occupation" />
                    <div *ngIf="occupation.invalid && (occupation.touched || occupation.dirty)">
                        <span class="error" *ngIf="occupation.errors?.required"> *Occupation is required</span>
                        <span class="error" *ngIf="occupation.errors?.pattern"> *Only Characters are allowed</span>
                    </div>
                    </div>
                    <div class="col">
                        <label>Annual Income in Lacs<span style="color: red;">*</span></label>
                    <input formControlName="income" class="form-control"  placeholder="In Lacs" required required [(ngModel)] = "user. income"/>
                    <div *ngIf="income.invalid && (income.touched || income.dirty)">
                        <span class="error" *ngIf="income.errors?.required"> *Income is required</span>
                        <span class="error" *ngIf="income.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="income.errors?.minlength">*Invalid income</span>
                        <span class="error" *ngIf="income.errors?.maxlength">*Invalid income</span>
                    </div>
                    </div>
                </div>    
            </div>
           
           
             
            <div class="row g-3">
                <div class="col">
                    <label for ="selectPlane">Describe time in year for your plan ?<span style="color: red;">*</span></label>
                    <br> 
                    <select style="height: 45px; width: 490px;"> 
                         
                        <option value="1">1</option>
                        <option value="2">2</option>
                         <option value="3">3</option>
                        <option value="4">4</option> 
                        <option value="5">5</option>
                    </select>
                      
                </div>
                <div class="col">
                    <label>Select member<span style="color: red;">*</span></label>
                    <br>
                      <select name="cars" id="cars" style="height: 45px; width: 490px;" (change)="selectChangeHandler($event)">
                        <option>Please select member</option>
                        <option value="Individual">Individual</option>
                        <option value="Individual & Spouse">Individual & Spouse</option>
                        <option value="Individual Spouse & Child">Individual Spouse & Child</option>
                        <option value="Individual Spouse & Parents">Individual Spouse & Parents</option>
                      </select>
                </div>
            </div>




            <div class="row g-3">
                <div class="col ">
                    <label>Gender<span style="color: red;">*</span></label>
                
                    <select name="cars" id="cars" style="height: 45px; width: 490px;">
                        <option value="Male" [(ngModel)] = "user.gender">Male</option>
                        <option value="Female" [(ngModel)] = "user.gender">Female</option>
                         
                      </select>
                 </div>

            
                <div class="col">
                    <label>Are you planning on cancelling any existing life insurance?</label>
                       <select name="cars" id="cars" style="height: 45px; width: 490px;">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                </div>

            </div>



            <div class="row g-3">
                <div class="col ">
                    <label>Do you have group life insurance through work?</label>
                      <select name="cars" id="cars" style="height: 45px; width: 490px;">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="col">
                    <label>Do you consume Tobacco Or Alcohol Or do Smoking?<span style="color: red;">*</span></label>
                 
                    <select name="cars" id="cars" style="height: 45px; width: 490px;">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                </div>

            </div>









            <div class="row g-3">
                <div class="col">
                <label>Are You HIV Positive?</label>
                   <select name="cars" id="cars" style="height: 45px; width: 490px;">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div class="col">
                    <label>Do you Have any Lung Disease Or Heart Desease?</label>
                    <select name="cars" id="cars" style="height: 45px; width: 490px;">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                </div>
            </div>

             

            <div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Do you have any other health Issue please Describe:</label>
                    <input formControlName="healthIssue" class="form-control" aria-label="zip" placeholder="Tell about your health issue" required required [(ngModel)] = "user.healthIssue" maxlength="50" style="height: 100px;"/>
                    <div *ngIf="healthIssue.invalid && (healthIssue.touched || healthIssue.dirty)">
                        <span class="error" *ngIf="healthIssue.errors?.required"> *Occupation is required</span>
                        <span class="error" *ngIf="healthIssue.errors?.maxlength">*Length should be less than 50</span>
                    </div>      
                </div>
            </div>
            
            <div class="row g-3">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Please add any additional comments or questions:</label>
                    <input formControlName="additionalComments" class="form-control" aria-label="zip" placeholder=" Add your comments" required required [(ngModel)] = "user.additionalComments" maxlength="50" style="height: 100px;"/>
                    <div *ngIf="additionalComments.invalid && (additionalComments.touched || additionalComments.dirty)">
                        <span class="error" *ngIf="additionalComments.errors?.required"> *comments is required</span>
                        <span class="error" *ngIf="additionalComments.errors?.maxlength">*Length should be less than 50</span>
                    </div>     
                </div>
            </div>
            
            <button type="submit" class="btn btn-success"
            (click)="user.gender = 'Female'"
                (click)="user.groupInsurance='Yes'"
                (click)="user.cancellingInsurance='No'"
                (click)="user.tobacco='No'"
                (click)="user.selectPlane='2'"
                (click)="user.hivIssue='No'"
                (click)="user.lungsIssue='No'"
                >Submit</button>
        
              
        </form>

    


    </div>
</div>



