<div class="header">
    <div>
    <a class="nav"routerLink="/home">Impetus Insurance</a>
    </div>
    <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px" >
      Invest Today and Enjoy Tomorrow!
      </marquee>
    <div class="header-right">
      <a class="nav-link"routerLink="/home">Home</a>
      <a class="nav-link"routerLink="/service">Our Services</a>
      <a class="nav-link"routerLink="/contact">Contact Us</a>
      <a class="nav-link"routerLink="/about">About Us</a>
      <div class="dropdown">
        <button class="dropbtn">Login As</button>
        <div class="dropdown-content">
          <a class="nav-link1"routerLink="/login">User</a>
          <a class="nav-link1"routerLink="/uwlogin">UWriter</a>
          <a class="nav-link1"routerLink="/adlogin">Admin</a>
        </div>
      </div>
    </div>
  </div>



  <!DOCTYPE html>
  <html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us Form</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" crossorigin="anonymous">
  
  </head>
  <body>
  <section class="contact">
  <div class="content">
  <h2>Contact Us</h2>
  <p> Need assistance with your plan? We'll get you the help you need.</p>
  </div>
  <div class="container">
  <div class="contactInfo">
  <div class="box">
  <div class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></div>
  <div class="text">
  <h3>Address</h3>
  <p>4671 Sugar Camp Road,<br>Near Victoria Palace, Ujjawala, Kolkata,<br>55060</p>
  </div>
  </div>
  <div class="box">
  <div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
  <div class="text">
  <h3>Phone</h3>
  <p>7392797389</p>
  </div>
  </div>
  <div class="box">
  <div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
  <div class="text">
  <h3>Email</h3>
  <p>vaishali.r.sharma@impetus.com</p>
  </div>
  </div>
  </div>
  <div class="contactForm">
  <form>
  <h2>Send Message</h2>
  <div class="inputBox">
  <input type="text" name="" required="required">
  <span>Full Name</span>
  </div>
  <div class="inputBox">
  <input type="text" name="" required="required">
  <span>Email</span>
  </div>
  <div class="inputBox">
  <textarea required="required"></textarea>
  <span>Type your message....</span>
  </div>
  <div class="inputBox">
  <input type="submit" name="" value="Send" style="background-color: rgba(28, 211, 28, 0.74);">
  </div>
  </form>
  </div>
  </div>
  </section>
  </body>
  </html>

  
