<div class="header">
    <div>
    <a class="nav"routerLink="/home">Impetus Insurance</a>
    </div>
    <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px" >
      Invest Today and Enjoy Tomorrow!
      </marquee>
    <div class="header-right">
      <a class="nav-link"routerLink="/home">Home</a>
      <a class="nav-link"routerLink="/service">Our Services</a>
      <a class="nav-link"routerLink="/contact">Contact Us</a>
      <a class="nav-link"routerLink="/about">About Us</a>
      <a class="nav-link"routerLink="/login">Logout</a>
    </div>
  </div>





  <div  style="background-image: url('https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80');">
    
    <div class="container">
        <div id="heading" class="container-fluid" style="background-image: url('https://media.istockphoto.com/videos/cute-tooth-dental-cartoon-hd-animation-video-id975678004?s=640x640');">
             <h1>Apply for Dental and Vision Insurance</h1>
             
        </div>
        <form [formGroup]="DentalVisionForm" #DVForm ="ngForm" (ngSubmit)="applyDVService()">
            <div class="row g-3">
                <div class="col">
                    <label>First Name</label>
                    <input formControlName = "firstname" class="form-control" aria-label="First name" placeholder="Enter Your First Name" required required [(ngModel)] = "user.firstName"/>
                <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                    <span class="error" *ngIf="firstname.errors?.required"> *First Name is required</span>
                    <span class="error" *ngIf="firstname.errors?.pattern"> *Enter Only Characters</span>
                </div>
                </div>
                <div class="col">
                    <label>Middle Name</label>
                    <input formControlName="middlename" class="form-control"  aria-label="Last name" placeholder="Enter Middle Name" required required [(ngModel)] = "user.middleNmme">
                    <div *ngIf="middlename.invalid && (middlename.touched || middlename.dirty)">
                        <span class="error" *ngIf="middlename.errors?.pattern"> *Enter Only Characters</span>
                    </div>
                </div>
                <div class="col">
                    <label>Last Name</label>
                    <input formControlName="lastname" class="form-control"  aria-label="Last name" placeholder="Enter your last name" required required [(ngModel)] = "user.lastName">
                    <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <span class="error" *ngIf="lastname.errors?.required"> *Last Name is required</span>
                        <span class="error" *ngIf="lastname.errors?.pattern"> *Enter Only Characters</span>
                    </div>
                </div>
            </div> 
            <div class="row g-3">
                <div class="col">
                    <label>Aadhar Number</label>
                    <input formControlName="aadhar" class="form-control" aria-label="adhar" placeholder="Enter 12 digit Aadhar number" required required [(ngModel)] = "user.aadhar"/>
                    <div *ngIf="aadhar.invalid && (aadhar.touched || aadhar.dirty)">
                        <span class="error" *ngIf="aadhar.errors?.required"> *Aadhar is required</span>
                        <span class="error" *ngIf="aadhar.errors?.pattern">  *Only numbers are allowed</span>
                        <span class="error" *ngIf="aadhar.errors?.minlength"> *Invalid Aadhar</span>
                        <span class="error" *ngIf="aadhar.errors?.maxlength">*Invalid Aadhar</span>
                        
                    </div>
                </div>
                <div class="col">
                    <label>Email</label>
                    <input formControlName="email" class="form-control"  aria-label="email" placeholder="Enter your email" required required [(ngModel)] = "user.email">
                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span class="error" *ngIf="email.errors?.required">*Email is required</span>
                    <span class="error" *ngIf="email.errors?.pattern">*Invalid Email Id</span>
                    </div> 
                </div>
                <div class="col">
                    <label>PAN Number</label>
                    <input formControlName="pannumber" class="form-control"  aria-label="pan" placeholder="Enter your PAN number" required required [(ngModel)] = "user.pan">
                    <div *ngIf="pannumber.invalid && (pannumber.touched || pannumber.dirty)">
                        <span class="error" *ngIf="pannumber.errors?.required"> Pan is required</span>
                        <span class="error" *ngIf="pannumber.errors?.pattern"> Invalid Pan</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>Address</label>
                        <input formControlName="address" class="form-control" aria-label="address" placeholder="Enter full address" required required [(ngModel)] = "user.address"/>
                        <div *ngIf="address.invalid && (address.touched || address.dirty)">
                            <span class="error" *ngIf="address.errors?.required"> *Address is required</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Zip code</label>
                        <input formControlName="zipcode" class="form-control" aria-label="zip" placeholder="Enter zip code" required required [(ngModel)] = "user.zip"/>
                        <div *ngIf="zipcode.invalid && (zipcode.touched || zipcode.dirty)">
                        <span class="error" *ngIf="zipcode.errors?.required"> *Zip Code is required</span>
                        <span class="error" *ngIf="zipcode.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="zipcode.errors?.minlength">*Invalid Zip code</span>
                        <span class="error" *ngIf="zipcode.errors?.maxlength">*Invalid Zip code</span>
                    </div>
                    </div>
                    <div class="col">
                        <label>City</label>
                        <input formControlName="city" class="form-control" aria-label="city" placeholder="Enter city" required required [(ngModel)] = "user.city"/>
                        <div *ngIf="city.invalid && (city.touched || city.dirty)">
                        <span class="error" *ngIf="city.errors?.required"> *city is required</span>
                        <span class="error" *ngIf="city.errors?.pattern"> *Only Characters allowed</span>
                        </div>
                    </div>
                </div>    
            </div> 
            
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>State</label>
                        <input formControlName="state" class="form-control" aria-label="city" placeholder="Enter your state" required required [(ngModel)] = "user.state"/>
                        <div *ngIf="state.invalid && (state.touched || state.dirty)">
                        <span class="error" *ngIf="state.errors?.required"> *state is required</span>
                        <span class="error" *ngIf="state.errors?.pattern"> *Only Characters allowed</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Mobile No</label>
                        <input formControlName="contact" class="form-control" aria-label="Mobile No" placeholder="EX: 7658980045" required required [(ngModel)] = "user.contact"/>
                        <div *ngIf="contact.invalid && (contact.touched || contact.dirty)">
                            <span class="error" *ngIf="contact.errors?.required"> *Mobile is required</span>
                            <span class="error" *ngIf="contact.errors?.pattern"> *Only Numbers are allowed</span>
                            <span class="error" *ngIf="contact.errors?.minlength">*Invalid Mobile</span>
                            <span class="error" *ngIf="contact.errors?.maxlength">*Invalid Mobile</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Birth date</label>
                        <input formControlName="dateOfBirth" class="form-control" aria-label="contact" placeholder="DD/MM/YYYY" required required [(ngModel)] = "user. dateOfBirth"/>
                        <div *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || dateOfBirth.dirty)">
                            <span class="error" *ngIf="dateOfBirth.errors?.required"> *Date is required</span>
                            <span class="error" *ngIf="dateOfBirth.errors?.pattern"> *Should be in formate(DD/MM/YYYY)</span>
                             </div>
                    </div>

               </div>
            </div>
            <div>
                <div class="row g-3">
                    <div class="col">
                        <label>Occupation</label>
                        <input formControlName="occupation" class="form-control" aria-label="zip" placeholder="Enter your Occupation" required required [(ngModel)] = "user.occupation"/>
                        <div *ngIf="occupation.invalid && (occupation.touched || occupation.dirty)">
                            <span class="error" *ngIf="occupation.errors?.required"> *Occupation is required</span>
                            <span class="error" *ngIf="occupation.errors?.pattern"> *Only Characters are allowed</span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Annual Income in Lacs</label>
                    <input formControlName="income" class="form-control"  placeholder="In Lacs" required required [(ngModel)] = "user.income"/>

                    <div *ngIf="income.invalid && (income.touched || income.dirty)">
                        <span class="error" *ngIf="income.errors?.required"> *Income is required</span>
                        <span class="error" *ngIf="income.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="income.errors?.minlength">*Invalid income</span>
                        <span class="error" *ngIf="income.errors?.maxlength">*Invalid income</span>
                    </div>
                    </div>
                </div>    
            </div>
            <div class="row g-3">
                <div class="col">
                    <label>Choose plan?</label>
                    <input formControlName="selectPlane" class="form-control"  placeholder="1-5 year" required required [(ngModel)] = "user.selectPlane"/>
                    <div *ngIf="selectPlane.invalid && (selectPlane.touched || selectPlane.dirty)">
                        <span class="error" *ngIf="selectPlane.errors?.required"> *Plan is required</span>
                        <span class="error" *ngIf="selectPlane.errors?.pattern"> *Only Numbers are allowed</span>
                        <span class="error" *ngIf="selectPlane.errors?.minlength">*Invalid Plan</span>
                        <span class="error" *ngIf="selectPlane.errors?.maxlength">*Invalid Plane</span>
                    </div>    
                </div>
                <div class="col">
                    <label>Gender</label>
                    <input formControlName="gender" class="form-control" aria-label="Smoking" placeholder="Male/Female"  required [(ngModel)] = "user.gender"/>
                    <div *ngIf="gender.invalid && (gender.touched || gender.dirty)">
                     <span class="error" *ngIf="gender.errors?.required"> *Type only Male/Female</span>
                     <span class="error" *ngIf="gender.errors?.pattern"> *Only Male/Female allowed</span>
                           
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Describe any other health issue/issues you are have or Suffered in Past?</label>
                    <input formControlName="healthIssue" class="form-control" aria-label="zip" placeholder="Tell about your health issue" required required [(ngModel)] = "user.healthIssue" maxlength="50" style="height: 100px;"/>
                    <div *ngIf="healthIssue.invalid && (healthIssue.touched || healthIssue.dirty)">
                        <span class="error" *ngIf="healthIssue.errors?.required"> *Occupation is required</span>
                        <span class="error" *ngIf="healthIssue.errors?.maxlength">*Length should be less than 50</span>
                    </div>     
                </div>
            </div>
            <div class="row g-3">
            <div class="col">
                <p>Are you planning of cancelling any existing life insurance?</p>
                  <input formControlName="cancellingInsurance" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.cancellingInsurance"/>
                   <div *ngIf="cancellingInsurance.invalid && (cancellingInsurance.touched || cancellingInsurance.dirty)">
                    <span class="error" *ngIf="cancellingInsurance.errors?.required"> *Type only Yes/No</span>
                    <span class="error" *ngIf="cancellingInsurance.errors?.pattern"> *Only Yes/No allowed</span>
                          
                   </div>
            </div>
            </div>
            <div class="row g-3">
                <div class="col">
                <p>Do you have group life insurance through work?</p>
                   <input formControlName="groupInsurance" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.groupInsurance"/>
                   <div *ngIf="groupInsurance.invalid && (groupInsurance.touched || groupInsurance.dirty)">
                    <span class="error" *ngIf="groupInsurance.errors?.required"> *Type only Yes/No</span>
                    <span class="error" *ngIf="groupInsurance.errors?.pattern"> *Only Yes/No allowed</span>
                          
                   </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                <p>Do you Consume Tobacco or Alcohol?</p>
                   <input formControlName="Tobacco" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.tobacco"/>
                 <div *ngIf="Tobacco.invalid && (Tobacco.touched || Tobacco.dirty)">
                  <span class="error" *ngIf="Tobacco.errors?.required"> *Type only Yes/No</span>
                  <span class="error" *ngIf="Tobacco.errors?.pattern"> *Only Yes/No allowed</span>
                        
                 </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col">
                <p>Any Major Oral Operation in Past?</p>
                  <input formControlName="oralOperation" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.oralOperation"/>
                 <div *ngIf="oralOperation.invalid && (oralOperation.touched || oralOperation.dirty)">
                  <span class="error" *ngIf="oralOperation.errors?.required"> *Type only Yes/No</span>
                  <span class="error" *ngIf="oralOperation.errors?.pattern"> *Only Yes/No allowed</span>
                        
                 </div>
                </div>
            </div>

           

            <div class="row g-3">
                <div class="col">
                <p>When was your last Dental Check-Up?</p>
                <input formControlName="lastDentalCkeck" class="form-control" aria-label="contact" placeholder="DD/MM/YYYY" required required [(ngModel)] = "user. lastDentalCkeck"/>
                <div *ngIf="lastDentalCkeck.invalid && (lastDentalCkeck.touched || lastDentalCkeck.dirty)">
                    <span class="error" *ngIf="lastDentalCkeck.errors?.required"> *Date is required</span>
                    <span class="error" *ngIf="lastDentalCkeck.errors?.pattern"> *Should be in formate(DD/MM/YYYY)</span>
                     </div>
                </div>     
            </div>

            <div class="row g-3">
                <div class="col">
                <p>Have/Had cavity any time Or any ungrown teeth? </p>
                   <input formControlName="anyCavity" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.anyCavity"/>
                 <div *ngIf="anyCavity.invalid && (anyCavity.touched || anyCavity.dirty)">
                  <span class="error" *ngIf="anyCavity.errors?.required"> *Type only Yes/No</span>
                  <span class="error" *ngIf="anyCavity.errors?.pattern"> *Only Yes/No allowed</span>
                        
                 </div>
                </div>
            </div>



            <div class="row g-3">
                <div class="col">
                <p>Are you wearing glasses?</p>
                   <input formControlName="wearGlasses" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.wearGlasses"/>
                 <div *ngIf="wearGlasses.invalid && (wearGlasses.touched || wearGlasses.dirty)">
                  <span class="error" *ngIf="wearGlasses.errors?.required"> *Type only Yes/No</span>
                  <span class="error" *ngIf="wearGlasses.errors?.pattern"> *Only Yes/No allowed</span>
                        
                 </div>
                </div>
            </div>
            

            <div class="row g-3">
                <div class="col">
                <p>Do you Have Cataract or any other Eye Disease?</p>
                    <input formControlName="anyEyeDisease" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.anyEyeDisease"/>
                 <div *ngIf="anyEyeDisease.invalid && (anyEyeDisease.touched || anyEyeDisease.dirty)">
                  <span class="error" *ngIf="anyEyeDisease.errors?.required"> *Type only Yes/No</span>
                  <span class="error" *ngIf="anyEyeDisease.errors?.pattern"> *Only Yes/No allowed</span>
                        
                 </div>
                </div>
            </div>

            
            
            <div class="row g-3">
                <div class="col">
                <p>Have you ever undergone any Eyes Operation or intend to undergo?</p>
                    <input formControlName="anyEyeOperation" class="form-control" aria-label="Smoking" placeholder="YES/NO"  required [(ngModel)] = "user.anyEyeOperation"/>
                 <div *ngIf="anyEyeOperation.invalid && (anyEyeOperation.touched || anyEyeOperation.dirty)">
                  <span class="error" *ngIf="anyEyeOperation.errors?.required"> *Type only Yes/No</span>
                  <span class="error" *ngIf="anyEyeOperation.errors?.pattern"> *Only Yes/No allowed</span>
                        
                 </div>
                </div>
            </div>
            
            
            




            <div class="row g-3">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Please add any additional comments or questions:</label>
                    <input formControlName="additionalComments" class="form-control" aria-label="zip" placeholder=" Add your comments" required required [(ngModel)] = "user.additionalComments" maxlength="50" style="height: 100px;"/>
                    <div *ngIf="additionalComments.invalid && (additionalComments.touched || additionalComments.dirty)">
                        <span class="error" *ngIf="additionalComments.errors?.required"> *comments is required</span>
                        <span class="error" *ngIf="additionalComments.errors?.maxlength">*Length should be less than 50</span>
                    </div>     
                </div>
            </div>

            
            

            <div class="row g-3">
                <div class="col">
            
            
            <button type="submit" class="btn btn-success">Submit</button>
            </div>


            <div class="col">
            <button  style="background-color: rgb(240, 52, 52);"  type="reset"  class="btn btn-success" (click)="DVForm.reset()" >Clear</button>
            </div>


            <div class="col">
                <button routerLink="/service" style="background-color: rgb(240, 52, 52) "  type="reset"  class="btn btn-success">Cancel</button>
            </div>


                 </div>     
                     
            
        </form>
    </div>
</div>





 
 
  <div class="footer-dark">
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-sm-6 col-md-3 item">
                   <h3>Services</h3>
                   <ul>
                       <li><a href="#">Life Insurance</a></li>
                       <li><a href="#">Dental & Vision Insurance</a></li>
                       <li><a href="#">Dental Insurance</a></li>
                   </ul>
               </div>
               <div class="col-sm-6 col-md-3 item">
                   <h3>Know Us</h3>
                   <ul>
                       <li><a class="nav"routerLink="/about">About Us</a></li>
                       <li><a class="nav"routerLink="/signup">Create Account</a></li>
                       <li><a class="nav"routerLink="/contact">Contact Us</a></li>
                   </ul>
               </div>
               <div class="col-md-6 item text">
                   <h3>Impetus Insurance</h3>
                   <p>
                       Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                       Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                   </p>
               </div>
           </div>
           <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
       </div>
   </footer>
 </div>
 