<div class="header">
  <div>
    <a class="nav"routerLink="/home" style="margin-top: 0%; background-color: whitesmoke;">Impetus Insurance</a>
    </div>
    <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px" >
      Invest Today and Enjoy Tomorrow!
      </marquee>
    <div class="header-right">
      <a class="nav-link"routerLink="/home">Home</a>
      <a class="nav-link"routerLink="/service">Our Services</a>
      <a class="nav-link"routerLink="/contact">Contact Us</a>
      <a class="nav-link"routerLink="/about">About Us</a>
      <div class="dropdown">
        <button class="dropbtn">Login As</button>
        <div class="dropdown-content">
          <a class="nav-link1"routerLink="/login">User</a>
          <a class="nav-link1"routerLink="/uwlogin">UWriter</a>
          <a class="nav-link1"routerLink="/adlogin">Admin</a>
        </div>
      </div>
    </div>
  </div>

  <div id="admin" class="container-fluid">
    
    <section class="vh-100">
      
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <h4 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: rgb(7, 250, 169);">Under Writer Login</h4>
      
                      <form #loginuwForm="ngForm" (ngSubmit)="loginUw()"class="mx-1 mx-md-4">
      
                        <small>{{msg}}</small>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Your Userid</label>
                            <input  name="email" type="email" id="form3" class="form-control" placeholder="Enter your UserId" required="required" #userid="ngModel" [(ngModel)]="uwriter.writerId"  />
                             </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Exam">Password</label>
                            <input name="password" type="password" id="form3Example4c" class="form-control" placeholder="Enter your password" required="required" #password="ngModel" [(ngModel)]="uwriter.password" />
                            
                          </div>
                        </div>
      
                       
      
                       
                  
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          
                          <button type="submit" class="btn btn-info">Login</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src= "https://www.yourfreecareertest.com/wp-content/uploads/2016/07/insurance_underwriter-1024x683.jpg" class="img-fluid" alt="Sample image">
      
                    </div>
      
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </section>
   
      
    </div>

    
 <div class="footer-dark" style="margin-top: 0%;">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Life Insurance</a></li>
                      <li><a href="#">Dental & Vision Insurance</a></li>
                      <li><a href="#">Dental Insurance</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Know Us</h3>
                  <ul>
                      <li><a class="nav"routerLink="/about">About Us</a></li>
                      <li><a class="nav"routerLink="/signup">Create Account</a></li>
                      <li><a class="nav"routerLink="/contact">Contact Us</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Impetus Insurance</h3>
                  <p>
                      Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                      Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                  </p>
              </div>
          </div>
          <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
      </div>
  </footer>
</div>