html,body{
    height: 100%;
    width: 100%;
}

.logo{
    color: #FFF;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    background-color:rgba(2, 2, 2, 0.934);
    padding:1% 0;
    font-size: 1.2em;
    
}
.navbar-brand{
    min-height: 55%;
    padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a{
  color: #d5d5d5;
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:active{
    color:#FFF;
  }

  #home{
      background: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;
      display: table;
      height: 600px;
      position: relative;
      width: 100%;
      background-size:cover; 
  }
  .landing-text{
      display: table-cell;
      text-align: center;
      vertical-align:middle;
  }
  .landing-text h1{
      font-size: 500%;
      font-weight: 700;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      font-family: 'Courier New', Courier, monospace;
  }
 
  .landing-text h2{
      color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Times New Roman', Times, serif;
}


  .padding{
      padding: 80px 0;
  }

  .padding{
      width: 100%;
  }

  .lead{
      font-size: 16px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #fixed{
      background: url('https://images.pexels.com/photos/6476587/pexels-photo-6476587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center fixed;
      display: table;
      height: 60%;
      position: relative;
      width: 100%;
      background-size:cover; 
  }

  .nav navbar-nav navbar-right{
      padding: 20px;
  }

  #footer{
         background-color: rgb(49, 206, 245);
         padding-top: 20px;
  }
 