<div class="header" style="background-color: black; height: 70px;">
  <div>
  <a class="nav"routerLink="/home" style="margin-top: 0%; background-color: whitesmoke;">Impetus Insurance</a>
  </div>
  <marquee width="20%" hieght="20%" hspace="150"direction="left" height="80px"  >
    Invest Today and Enjoy Tomorrow!
    </marquee>
  <div class="header-right">
    <a class="nav-link"routerLink="/home" >Home</a>
    <a class="nav-link"routerLink="/service">Our Services</a>
    <a class="nav-link"routerLink="/contact">Contact Us</a>
    <a class="nav-link"routerLink="/about">About Us</a>
    <!--a class="nav-link"routerLink="/login">LogIn</a>-->
    <div class="dropdown">
      <button class="dropbtn">Login As</button>
      <div class="dropdown-content">
        <a class="nav-link1"routerLink="/login">User</a>
        <a class="nav-link1"routerLink="/uwlogin">UWriter</a>
        <a class="nav-link1"routerLink="/adlogin">Admin</a>
      </div>
    </div>
  </div>
</div>




<div id="home" style="height: 450px;">
    <div class="landing-text">
      <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Use your best experience</h1>
      <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: x-large; color: white;">Get Extensive Cover on Low Premium<br/><br/></h2>
      <button class="btn btn-primary btn-lg">
        <a class="abc"routerLink="/about">
        Know More About Us</a></button>
     
    </div>
 </div>  
 
 
 
 <div class="padding">
   <div class="container">
     <div class="row">
       <div class="col-sm-6 ">
         <img src="https://images.pexels.com/photos/1367272/pexels-photo-1367272.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="300px" width="500px"/>
       </div>
       <div class="col-sm-6 text-center">
         <h2>Our policy Values</h2>
         <p class="lead" style="text-align: justify;">Human values help students distinguish between values and skills, and understand the
           need, basic guidelines, content and process of value education.
            It help students initiate a process of dialog within themselves to know what
           they ‘really want to be’ in their life and profession
            and also help students understand the meaning of happiness and prosperity for a
           human being. </p>
         <p class="lead" style="text-align: justify;"> It facilitate the students to understand harmony at all the levels of human
           living, and live accordingly
            and facilitate the students in applying the understanding of harmony in
           existence in their profession and lead an ethical life 
           </p>    
       </div>    
     </div>  
   </div>  
 
 </div>  
 
 
 <div id="fixed">
 
 </div>  
 
 
 
 <div class="padding">
   <div class="container">
     <div class="row">
       <div class="col-sm-6">
         <img src="https://images.pexels.com/photos/6476587/pexels-photo-6476587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="300px" width="500px"/>
       </div>
       <div class="col-sm-6 text-center">
         <h2>OUR OUTCOME</h2>
         <p class="lead" style="text-align: justify;"> Understand the significance of value inputs in a classroom, distinguish
           between values and skills, understand the need, basic guidelines, content and
           process of value education, explore the meaning of happiness and prosperity
           and do a correct appraisal of the current scenario in the society
            Distinguish between the Self and the Body, understand the meaning of
           Harmony in the Self the Co-existence of Self and Body.<br/>
            
           </p>
         <p class="lead" style="text-align: justify;">
             Understand the value of harmonious relationship based on trust, respect and
             other naturally acceptable feelings in human-human relationships and
             explore their role in ensuring a harmonious society 
             Understand the harmony in nature and existence, and work out their
           mutually fulfilling participation in the nature.
            Distinguish between ethical and unethical practices, and start working out
           the strategy to actualize a harmonious environment wherever they work. 
           </p>    
       </div>    
     </div>  
   </div>  
 
 </div>  
 


 <div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <a  routerLink="/service" style="text-decoration: none; color: white; scroll-behavior: auto;">Services</a>
                  <ul>
                      <li>Life Insurance</li>
                      <li>Dental & Vision Insurance</li>
                      <li> Dental Insurance</li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Know Us</h3>
                  <ul>
                      <li><a class="nav"routerLink="/about">About Us</a></li>
                      <li><a class="nav"routerLink="/signup">Create Account</a></li>
                      <li><a class="nav"routerLink="/contact">Contact Us</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Impetus Insurance</h3>
                  <p>
                      Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                      Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                  </p>
              </div>
          </div>
          <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
      </div>
  </footer>
</div>